@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

/* utilities styles */
* {
  margin: 0 !important;
  padding: 0 !important;
}
body {
  font-family: "Poppins", sans-serif !important;
  background-color: #16151a !important;
}
/* background-color */
.bg-color1 {
  background-color: #16151a;
}
.bg-color2 {
  background-color: #25a56a;
}
.bg-color3 {
  background-color: #222227;
}
.bg-color4 {
  background-color: #2f80ed;
}
.bg-color5 {
  background-color: #eb5757;
}
.bg-color6 {
  background-color: #c0c0c0;
}
/* text color */
.text-color1 {
  color: #c0c0c0;
}
.text-color2 {
  color: #eb5757;
}
.text-color3 {
  color: #25a56a;
}
.text-color4 {
  color: #2f80ed;
}
/* 
 */
.sidebar-main {
  height: 100vh;
  border-right: 1px solid #c0c0c0;
}
.sidebar-name,
.header-menu {
  display: flex;
  height: 50px;
}

li:hover .li-icon {
  color: #25a56a;
  transition: 0.5s;
}
li:hover .li-text {
  color: #fff;
  transition: 0.5s;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#badge {
  padding: 2px 5px !important;
}
#search-product {
  width: 300px !important;
  border: none !important;
  outline: none !important;
  padding: 10px 12px !important;
  background-color: #222227;
  color: #fff;
  border-radius: 7px !important;
}
.input-search {
  position: relative;
}
.fa-search:hover {
  color: #25a56a;
}
.sing-in:hover {
  color: #25a56a;
}
.hover-color:hover {
  transition: 0.5s;
  color: #25a56a;
}

#carusel {
  height: 90vh;
  overflow: hidden;
}

#carusel img {
  width: 100vw;
  height: 90vh;
  object-fit: cover;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content h1,
p {
  color: #fff;
}
.link-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff !important;
  border-radius: 10px !important;
  padding: 10px 20px !important;
  margin: 5px 10px !important;
  text-transform: uppercase;
  transition: 0.5s;
}
.link-one {
  background-color: #25a56a;
}
.link-one:hover {
  background-color: #222227;
  color: #25a56a !important;
}
.link-two {
  background-color: #222227;
}
.link-two:hover {
  color: #25a56a !important;
}
/* new release song styles section */
.thumbnail {
  overflow: hidden;
}
.thumbnail img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.thumbnail:hover img {
  transform: scale(1.3);
  transition: 0.5s ease-out;
}

.sub-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.thumbnail:hover .sub-info {
  z-index: 1;
}
/* music store */
.tumbnail-area img {
  width: 70px;
  height: 50px;
  object-fit: cover;
  border-radius: 10px;
}
.tumbnail-area .child-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 
 */

@media screen and (max-width: 992px) {
  #sidebar {
    display: none;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
  }
  .sidebar-main {
    padding-left: 20px !important;
  }
  #search-product {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .close-item {
    display: none;
  }
  .fa-bars-staggered {
    display: none;
  }

  .search-icon {
    position: absolute;
    top: 12px;
    right: 15px;
  }
  .icons {
    font-size: 12px !important;
  }
  .caption {
    font-size: 12px !important;
  }
}
